.pager-section {
    background: url(/img/pager-bg.png);
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 75px 0 85px;
}

.pager-section .pager-content {
    position: relative;
    z-index: 99;
}

.pager-section .pager-content>h2 {
    color: #2b2b2b;
    font-size: 65px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 6px;
}

.pager-section .pager-content>ul li {
    display: inline-block;
    position: relative;
    padding: 0 12px;
}

.pager-section .pager-content>ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1px;
    height: 15px;
    margin-left: 2px;
    background-color: #575757;
    transform: translateY(-50%);
    margin-top: 2px;
}

.pager-section .pager-content>ul li a, .pager-section .pager-content>ul li span {
    display: inline-block;
    color: #575757;
    font-size: 14.23px;
}

.pager-section .page-titlee {
    color: #f37335;
    font-size: 162.6px;
    font-weight: 600;
    opacity: .1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about-page-content {
    padding: 138px 0 0;
}

.about-page-content .abt-page-row {
    margin-bottom: 40px;
}

.about-page-content .abt-page-row .row {
    margin-bottom: 60px;
}

.about-page-content .abt-page-row .section-title h2 {
    line-height: 58.94px;
    margin-bottom: 25px;
}

.section-title>h2 {
    color: #2b2b2b;
    font-size: 48.77px;
    margin-bottom: 15px;
    font-weight: 700;
    margin-bottom: 7px;
}

.section-title>h2>span {
    color: #f37335;
}

.about-page-content .abt-page-row .section-title p {
    margin-bottom: 50px;
}

.section-title p {
    color: #575757;
    font-size: 14.23px;
    line-height: 22.35px;
    max-width: 430px;
    margin: 0 auto;
}

.mw-100 {
    max-width: 100%!important;
}

.btn-default {
    display: inline-block;
    color: #fff;
    font-size: 18.29px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    background-color: #135e9e;
    height: 40px;
    line-height: 40px;
    padding: 0 60px;
    position: relative;
    border-radius: 30px;
    transition: all .4s ease-in-out;
}

.btn-default i {
    background-color: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50px;
    color: #155799;
    position: absolute;
    top: 50%;
    transition: all .4s ease-in-out;
    left: 6px;
    transform: translateY(-50%);
}

.about-page-content .abt-page-row .row:last-child {
    margin-bottom: 0;
}

.about-page-content .act-inffo>span {
    text-transform: uppercase;
    color: #f37335;
    font-size: 14.23px;
    font-weight: 500;
    font-family: Poppins,sans-serif;
    margin-bottom: -10px;
    display: block;
}

.about-page-content .act-inffo>h2 {
    color: #2b2b2b;
    font-size: 48.78px;
    font-weight: 600;
    margin-bottom: 18px;
}

.about-page-content .act-inffo p {
    margin-bottom: 22px;
}

.about-page-content .act-inffo ul li {
    display: block;
    color: #575757;
    font-size: 14.23px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
}

.about-page-content .act-inffo ul li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 15px;
    background-image: url(/img/icon14.png);
    transform: translateY(-50%);
    margin-top: 2px;
}

img {
    vertical-align: middle;
    height: auto;
}